* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    cursor: pointer;
    font-weight: 700;
    font-size: 39px;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: transparent;
    border-radius: 20px;
    
    border: white solid 2px;
    outline: white solid 2px;
    outline-offset: -2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }  
  
  .cta:hover {
    outline-offset: 4px;
  }
  